html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
h1 {
  font-family: 'Ovo', serif;
  font-size: 3.2rem;
  color: #7900F2;
}
a {
  font-family: 'Roboto', sans-serif;
}
p {
  font-size: 1.6rem;
}
.container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
}
.header-container {
  background-color: #F8F8F8;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 89px;
}
.header-container h1 {
  width: 55%;
}
.header-container nav {
  width: 40%;
}
.header-container nav a {
  padding: 0 5%;
  text-decoration: none;
  color: #1A051D;
  font-size: 1.8rem;
}
.header-container nav a:hover {
  color: #DBA5F5;
}
.header-container nav .sign-up {
  border: 3px solid #B66CFF;
  border-radius: 4px;
}
@media (max-width: 500px) {
  .header-container h1 {
    width: 100%;
    text-align: center;
  }
}
.header-container nav {
  width: 100%;
}
@media (max-width: 500px) {
  .header-container nav {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}
@media (max-width: 500px) {
  .home-link,
  .browse {
    display: none;
  }
}
footer,
.footer-container {
  width: 100%;
}
.footer-container {
  background: linear-gradient(185.95deg, #3F3356 3.26%, #1A051D 100%);
}
.footer-container ul {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 95%;
}
.footer-container .ft-links-top ul li {
  margin: 4% 1%;
  color: #FFFFFF;
}
.footer-container .ft-links-top ul li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.7rem;
}
.footer-container .ft-links-top ul li a:hover {
  color: #DBA5F5;
}
.ft-links-btm li {
  margin: 1% 4%;
  color: #FFFFFF;
  width: 35%;
}
.ft-links-btm li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.2rem;
  padding: 0 5%;
}
.ft-links-btm li a:hover {
  color: #DBA5F5;
}
.home {
  width: 100%;
}
.home header {
  margin-left: 9%;
  padding-bottom: 2%;
  font-family: Arial, Helvetica, sans-serif;
}
.home .main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 8%;
  margin-right: 8%;
}
.home .main-container .img-content {
  padding: 1%;
  padding-bottom: 4%;
}
.home .main-container .img-content img {
  width: 294px;
  height: 209px;
}
.home .main-container .img-content p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5px;
}
.home .bottom-text {
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  margin-right: 9%;
}
.nav-class {
  margin-bottom: 5%;
  border-bottom: 2px dashed grey;
  padding-bottom: 3%;
}
.footer-content {
  border-top: 2px dashed grey;
  margin-top: 5%;
}
.footer-content .content-one {
  display: flex;
  justify-content: space-between;
  width: 75%;
}
.footer-content .content-two {
  display: flex;
  justify-content: space-between;
  width: 75%;
}
