.container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    max-width: 500px;
  }
}
.home {
  width: 100%;
}
@media (max-width: 500px) {
  .home {
    margin-bottom: 10%;
  }
}
.home header {
  margin-left: 9%;
  padding-bottom: 2%;
  font-family: Arial, Helvetica, sans-serif;
}
.home .main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 8%;
  margin-right: 8%;
}
.home .main-container .img-content {
  padding: 1%;
  padding-bottom: 4%;
}
.home .main-container .img-content img {
  width: 294px;
  height: 209px;
}
@media (max-width: 500px) {
  .home .main-container .img-content img {
    width: 100%;
    height: 230px;
  }
}
.home .main-container .img-content p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5px;
}
.home .bottom-text {
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  margin-right: 9%;
}
.nav-class {
  margin-bottom: 5%;
  border-bottom: 2px dashed grey;
  padding-bottom: 3%;
}
.footer-content {
  border-top: 2px dashed grey;
  margin-top: 5%;
}
.footer-content .content-one {
  display: flex;
  justify-content: space-between;
  width: 75%;
}
.footer-content .content-two {
  display: flex;
  justify-content: space-between;
  width: 75%;
}
