html {
  font-size: 62.5%;
}

h2, p, a{
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
}

h1{
  font-family: @header-font;
  font-size: 3.2rem;
  color: @h-color;
}

h2{
  //font-family: @main-font;
  font-size: 2rem;
  margin: 3% 0 3% 9%;
}

a{
  //font-family: @main-font;
}

p{
  font-size: 1.6rem;
}

.container {
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;

}
